
.title-header{
  margin-top: 20px;
  text-align: center;
}

.img-nav{
  max-height: 150px;
}

.left, .right, .section-text {
  padding: 20px;
  line-height: 1.3;
}

.section, .cademi {
  margin-top: 30px;
}

.img-section {
  margin-top: 20px;
  max-width: 100%;
}
.gray{
  height: auto;
  background-color: #F9F9F9;
}

.radius{
  height: 250px;
  margin: 30px 0;
  border-radius: 50%;
  background-color: #428bca;
  box-shadow: 5px 5px 10px 0px #000000;
  padding: 30px;
}

/* TIPOGRAFIA */

h1 {
  font-size: 40px;
  font-family: 'Merienda One', cursive;
}

h2, p {
  font-family: 'Lato', sans-serif;
}

h3{
  font-family: 'Galada', cursive;
  margin: 10px 0;
}
/* //TIPOGRAFIA */


.rule{
  margin: 50px;
}
